@font-face {
	font-family: pixelfont;
	src: url("/resources/fonts/FreePixel.ttf");
}
body {
	background: url("resources/static/background.jpg");
	background-repeat: repeat;
	color: white;
	text-align:center;
	text-shadow: 2px 2px black;
	font-family: pixelfont;
}
